.collections {
  padding: 10px 0;

  &__buttons-container {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $black-color;
  }

  &__buttons-list {
    display: flex;
  }

  &__button-item {
    margin-right: 15px;

    &:not(:first-of-type) {
      margin: 0 15px;
    }
  }

  &__type-button {
    padding-bottom: 10px;
    font-size: 1.3rem;
    line-height: 1.3rem;

    &--active {
      position: relative;
      color: green;

      &::after {
        position: absolute;
        content: "";
        bottom: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: green;
      }
    }
  }

  &__products-list {
    display: flex;
    justify-content: space-between;
  }

  &__product-item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__product-img-container {
    position: relative;
  }

  &__product-price {
    position: absolute;
    bottom: 1.5%;
    padding: 5px;
    background-color: $white-color;
  }

  &__product-link {
    transition: opacity, $transition-duration;

    &:hover,
    &:focus {
      opacity: .6;
    }

    &:active {
      opacity: .3;
    }
  }
}
