.authors {
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  &__info {
    margin-bottom: 20px;
    font-size: 1.4rem;
    line-height: 1.4rem;
    text-align: center;
  }

  &__list {
    justify-content: center;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &:not(:last-of-type) {
      margin-right: 15px;
    }

    &:first-of-type {
      position: relative;

      &::after {
        position: absolute;
        content: "";
        top: -1px;
        right: -8px;
        width: 2px;
        height: 100%;
        background-color: $black-color;
      }
    }
  }

  &__side {
    margin-right: 15px;
    font-size: 1.3rem;
    line-height: 1.3rem;
  }

  &__link {
    transition: opacity $transition-duration;

    & svg {
      width: 35px;
      height: 35px;
    }

    &:hover,
    &:focus {
      opacity: .6;
    }

    &:active {
      opacity: .3;
    }
  }
}

@include media-breakpoint-up(md) {
  .authors {
    flex-direction: row;
  }
}

@include media-breakpoint-up(lg) {
  .authors {

    &__list {
      justify-content: space-between;
    }

    &__info {
      margin-bottom: 0;
      text-align: justify;
    }
  }
}
