.navigation-categories {
  margin-bottom: 10px;
  padding: $default-padding;
  border-top: 1px solid $black-color;
  border-bottom: 1px solid $black-color;

  &__list {
    display: flex;
    justify-content: center;
  }

  &__item {
    margin: 0 20px;
  }
}
