.navigation-categories {
  margin-bottom: 10px;
  padding: $default-padding;
  border-top: 1px solid $black-color;
  border-bottom: 1px solid $black-color;

  &__list {
    justify-content: center;
  }

  &__item {
    margin-bottom: 10px;
    padding: 0 10px;
    text-align: center;

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}


@include media-breakpoint-up(md) {
  .navigation-categories {

    &__item {
      margin: 0 20px;
    }
  }
}
