$checkbox-size: 13px;

.filter {
  margin-bottom: 60px;

  &__headline {
    border-bottom: none;
  }

  &__filter-section {
    margin-bottom: 20px;
  }

  &__filter-name {
    position: relative;
    padding-right: 20px;
    width: 100%;
    cursor: pointer;
    transition: opacity $transition-duration;

    &::after {
      position: absolute;
      content: "";
      top: 50%;
      right: 0;
      width: 20px;
      height: 20px;
      transform: translateY(-50%);
      background: url("../img/plus.svg") no-repeat center center;
      background-size: cover;
    }

    &--active::after {
      background-image: url("../img/minus.svg");
    }

    &:hover {
      opacity: .6;
    }
  }

  &__options-container {
    display: none;
  }

  &__filter-name--active ~ &__options-container {
    margin: 15px 0;
    display: block;
  }

  &__option-item {
    margin-bottom: 15px;
  }

  &__option-label {
    position: relative;
    padding-left: 25px;
    display: block;
    cursor: pointer;

    &::before {
      position: absolute;
      content: "";
      top: 50%;
      left: 0;
      width: $checkbox-size;
      height: $checkbox-size;
      border: 1px solid $black-color;
      border-radius: 30%;
      transform: translateY(-50%);
      transition: background-color, opacity, $transition-duration;
    }
  }

  &__option-input:checked + &__option-label::after {
    position: absolute;
    content: "";
    top: 50%;
    left: calc(#{$checkbox-size / 2 - 1px});
    width: 5px;
    height: 5px;
    background-color: $black-color;
    border-radius: 50%;
    transform: translateY(-50%);
    transition: background-color $transition-duration;
  }

  &__option-input:hover + &__option-label::before {
    background-color: $gray-color;
  }

  &__option-input:focus + &__option-label::before {
    outline: 2px solid $outline-color;
  }

  &__option-input:active + &__option-label::before {
    opacity: .5;
  }

  &__option-input:active + &__option-label::after {
    background-color: $outline-color;
  }

  &__submit-filter {
    padding: 5px 10px;
    width: 100%;
    border: 2px solid $black-color;
    transition: box-shadow $transition-duration;

    &:hover,
    &:focus {
      box-shadow: 0 0 8px 0 rgba(0, 0, 0, .6) inset;
    }

    &:active {
      box-shadow: 0 0 8px 2px rgba(0, 0, 0, .8) inset;
    }
  }
}

@include media-breakpoint-up(lg) {
  .filter {
    margin-bottom: 0;
  }
}
