.collections {
  margin-bottom: 25px;

  &__buttons-container {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    @include underline;
  }

  &__buttons-list {
    display: flex;
  }

  &__button-item {
    margin-right: 15px;

    &:not(:first-of-type) {
      margin: 0 15px;
    }
  }

  &__type-button {
    font-size: 1.3rem;
    line-height: 1.3rem;
    transition: opacity $transition-duration;

    &--active {
      @include headlineUnderline;
    }

    &:hover,
    &:focus {
      opacity: .6;
    }

    &:active {
      opacity: .3;
    }
  }
}

  @include media-breakpoint-up(xxl) {
    .collections {

      &__product-list li {
        margin-bottom: 0;
      }
    }
  }
