.path-not-exist {
  position: absolute;
  top: 0;
  left: 0;
  padding: 20%;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: $white-color;
  z-index: 100;

  &__warning {
    margin-bottom: 35px;
    font-size: 2rem;
    line-height: 2.5rem;
  }

  &__to-main-page {
    font-size: 1.5rem;
    line-height: 1.5rem;
    transition: opacity $transition-duration;
    @include underline;

    &:hover {
      opacity: .6;
    }

    &:active {
      opacity: .3;
    }
  }
}
