$margin-auto: 0 auto;

// Дефолтный отступ по оси x

$default-padding: 10px;

// Название шрифтов

$oswald-font: "Oswald";
$perfectDOS: "PerfectDOSVGA437";

//

// Дефолтный размер и высота линии

$default-font-size: 16px;
$default-line-height: 22px;

//

// Цвета

$transparent: transparent;

$white-color: #ffffff;
$black-color: #000000;

$gray-color: #d1d0d0;

$red-color: #ff0000;
$darkgreen-color: #006400;

$main-background-color: #f3f3f3;

$outline-color: #5e9ed6;

$current-link: #A52A2A;

//

// Дефолтная продолжительность transition

$transition-duration: .5s;

//

// Дефолтная продолжительность анимации с x2 скоростью

$default-animation-duration: .8s;
$animation-duration-x2: calc(#{$default-animation-duration} / 2);

//

