.about-company {

  &__image-container {
    margin-bottom: 35px;

    & img {
      width: 100%;
    }
  }

  &__text {
    margin-bottom: 30px;
  }

  &__link {
    @include highlight-text-color;
    transition: opacity $transition-duration;

    &:hover {
      opacity: .6;
    }

    &:active {
      opacity: .3;
    }
  }
}
