.reviews {
  margin-bottom: 30px;

  &__headline-container {
    margin-bottom: 20px;
    display: flex;
    border-bottom: 1px solid $black-color;
  }

  &__headline {
    padding-bottom: 10px;
    font-weight: 400;
  }

  &__item {
    margin-bottom: 20px;
    padding: 0 25px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  &__user-photo-container {
    margin-bottom: 20px;
  }

  &__user-name {
    margin-bottom: 10px;
  }

  &__user-review-text {
    text-align: center;
  }
}
