.navigation-panel {
  padding: 15px 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  background-color: $dust-rose;
  box-shadow: 0 -2px 30px 6px $dark-chocolate;
}
