.product-list {
  justify-content: space-between;
  flex-wrap: wrap;

  &__item {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__product-img-container {
    position: relative;
  }

  &__product-price {
    position: absolute;
    bottom: 1.5%;
    padding: 5px;
    font-family: $perfectDOS;
    background-color: $white-color;
  }

  &__product-link {
    @include linkInteractiveStyle;
  }
}
