.sort {

  &__select {
    padding: 5px 10px;
    font-size: inherit;
    line-height: inherit;
    color: rgba(0, 0, 0, .5);
    transition: color $transition-duration;
    cursor: pointer;

    &:hover {
      color: $black-color;
    }
  }

  &__option {
    font-size: inherit;
    line-height: inherit;
  }
}
